{% extends 'main/base.html' %}
{% block title %}Home page{% endblock title %}
{% block content %}
<div class="hero">
  <div class="hero-box">
      <h6><b>A New Yet Better Way To happy Coding!</b></h6>
      <h1 class="blockquote"><strong> Code Better! Collabotate! <br>Get Hired! Life of a Developer!</strong></h1>
      <figcaption class="blockquote-footer">
      Beale <cite title="Source Title"></cite>
      </figcaption>
      <button id="btn-1">Feed</button>
      <button href='login.html' id="btn-2">Join Beale</button>
  </div>
</div>



{% endblock content %}